body {
    margin: 0;
    background: #112 url(images/29-296775_galaxia-planeta-cientfica-espacio-estrellas-ultrahd-dark-side.jpg) repeat;
    background-size: 100%;
    font-family: "Lato", sans-serif;
    color: #fff;
  }